doctype html
html(lang='pt-BR')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Página Inicial da Loja - Template Start Bootstrap

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container.px-4.px-lg-5
                a.navbar-brand(href='#!') Nativus
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0.ms-lg-4
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='#!') Início
                        li.nav-item
                            a.nav-link(href='#!') Sobre
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Loja
                            ul.dropdown-menu(aria-labelledby='navbarDropdown')
                                li
                                    a.dropdown-item(href='#!') Todos os Produtos
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item(href='#!') Produtos Populares
                                li
                                    a.dropdown-item(href='#!') Novidades
                    form.d-flex
                        button.btn.btn-outline-dark(type='submit')
                            i.bi-cart-fill.me-1
                            | Carrinho
                            span.badge.bg-dark.text-white.ms-1.rounded-pill 0

        // Header
        header.bg-dark.py-5
            .container.px-4.px-lg-5.my-5
                .text-center.text-white
                    h1.display-4.fw-bolder Compre com estilo
                    p.lead.fw-normal.text-white-50.mb-0 Com este modelo de página inicial para loja

        // Login Section (dois formulários)
        section.login-section.py-5
            .container.px-4.px-lg-5.mt-5
                .row.mb-5
                    .col-md-6
                        .card.h-100
                            .card-body
                                h5.fw-bolder.mb-3 Login Cliente
                                form(action='#' method='post')
                                    .mb-3
                                        label.form-label(for='clienteEmail') Email
                                        input#clienteEmail.form-control(type='email' placeholder='seu@exemplo.com')
                                    .mb-3
                                        label.form-label(for='clienteSenha') Senha
                                        input#clienteSenha.form-control(type='password' placeholder='Senha')
                                    button.btn.btn-success(type='submit') Entrar
                    .col-md-6
                        .card.h-100
                            .card-body
                                h5.fw-bolder.mb-3 Login Admin
                                form(action='#' method='post')
                                    .mb-3
                                        label.form-label(for='adminEmail') Email
                                        input#adminEmail.form-control(type='email' placeholder='admin@exemplo.com')
                                    .mb-3
                                        label.form-label(for='adminSenha') Senha
                                        input#adminSenha.form-control(type='password' placeholder='Senha')
                                    button.btn.btn-outline-success(type='submit') Entrar como Admin

        // Section
        section.py-5
            .container.px-4.px-lg-5.mt-5
                .row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
                        .col.mb-5
                            .card.h-100
                                // Product image
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,apples', alt='Maçãs orgânicas')
                                // Product details
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Maçãs Orgânicas
                                        | $4.50
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Ver opções
                        .col.mb-5
                            .card.h-100
                                .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') Promoção
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,bread', alt='Pão orgânico')
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Pão Orgânico
                                        span.text-muted.text-decoration-line-through $3.00
                                        | $2.50
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Adicionar ao carrinho
                        .col.mb-5
                            .card.h-100
                                .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') Promoção
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,carrots', alt='Cenouras orgânicas')
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Cenouras Orgânicas
                                        span.text-muted.text-decoration-line-through $2.00
                                        | $1.50
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Adicionar ao carrinho
                        .col.mb-5
                            .card.h-100
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,lettuce', alt='Alface orgânica')
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Alface Orgânica
                                        | $1.80
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Adicionar ao carrinho
                        .col.mb-5
                            .card.h-100
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,eggs', alt='Ovos orgânicos')
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Ovos Orgânicos (12 uni.)
                                        | $5.00
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Adicionar ao carrinho
                        .col.mb-5
                            .card.h-100
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,honey', alt='Mel orgânico')
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Mel Orgânico
                                        | $8.00 - $15.00
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Ver opções
                        .col.mb-5
                            .card.h-100
                                .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') Promoção
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,almonds', alt='Amêndoas orgânicas')
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Amêndoas Orgânicas
                                        | $12.00
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Adicionar ao carrinho
                        .col.mb-5
                            .card.h-100
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,yogurt', alt='Iogurte orgânico')
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Iogurte Orgânico
                                        | $2.20
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Adicionar ao carrinho
                        .col.mb-5
                            .card.h-100
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,tomatoes', alt='Tomates orgânicos')
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Tomates Orgânicos
                                        | $3.20
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Adicionar ao carrinho
                        .col.mb-5
                            .card.h-100
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,milk', alt='Leite orgânico')
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Leite Orgânico
                                        | $2.50
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Adicionar ao carrinho
                        .col.mb-5
                            .card.h-100
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,cheese', alt='Queijo orgânico')
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Queijo Orgânico
                                        | $6.50
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Adicionar ao carrinho
                        .col.mb-5
                            .card.h-100
                                img.card-img-top(src='https://source.unsplash.com/450x300/?organic,granola', alt='Granola orgânica')
                                .card-body.p-4
                                    .text-center
                                        h5.fw-bolder Granola Orgânica
                                        | $4.00
                                .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                    .text-center
                                        a.btn.btn-outline-dark.mt-auto(href='#') Adicionar ao carrinho

        // Footer
        footer.py-5.bg-dark
            .container
                p.m-0.text-center.text-white Direitos autorais &copy; Seu Site 2023

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')